html, body {
    margin-top: 36px;
    padding: 0;
    height: auto;
    background-color: #CCD7D3;
    font-family: "EB Garamond", serif;
}

h4,
h3 {
    margin: 0;
}

/*center geral*/

.temperature{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px
}

.introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas:
    "introPerfil introPerfil"
    "menu-motivacao menu-acomp"
    "nav nav";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 420px 60px;
    height: 100%;
    margin: 0 40px;
    gap: 8px;
}

.cardWeather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 150px;
}

.imgWeather {
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.imgWeather .bi  {
    font-size: 90px;
}

.weather,
.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.weather {
    min-width: 50%;
}

.degree {
    min-width: 30%;
}

.card {
    border-radius: 8px;
    box-shadow: 
    -10px -10px 15px #D8E7E2, /* superior esquerdo */
    -10px 10px 15px #C1D2CC,  /* inferior esquerdo */
    10px -10px 15px #C6D4CF,  /* superior direito */
    10px 10px 15px #A7BDB6;   /* inferior direito */
}

.introPerfil {
    grid-area: introPerfil;
    border-radius: 8px;
    padding: 18px 24px;
    box-shadow: 
    -10px -10px 15px #D8E7E2, /* superior esquerdo */
    -10px 10px 15px #bacbc5,  /* inferior esquerdo */
    10px -10px 15px #C6D4CF,  /* superior direito */
    10px 10px 15px #a6bbb3;   /* inferior direito */
}

.introPerfil h1{
    margin: 0;
}

.menu-motivacao {
    grid-area: menu-motivacao;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.menu-acomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: menu-acomp;
    gap: 38px;
    justify-content: center;
}
.nav {
    grid-area: nav;
}

.introData {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.introText img {
    position: absolute;
    border-radius: 50%;
    margin-top: -190px;
}

.motivacaoMensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
    width: 90%;
    gap: 8px;
}

.motivacaoMensagem h4 {
    font-size: 14px;
    margin-left: 48px;
}

.motivacaoMensagem h1 {
    margin: 0;
    font-size: 34px;
    margin-left: 28px;
}

.cardFinanca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 90%;
}

.values {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.value {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 14px;
}

.valueTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 34px;
}

.cadastroEntrada {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
}

form button {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}


.cadadastros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 230px;
    border-top-right-radius: 18px;
}

.icon {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 65px;
    left: 0;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 9px 0 5px floralwhite;
}

.cadadastros img {
    border-radius: 50%;
}

.iconInferiordireito 
{
   
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 0;
    left: 245px;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 9px 0 5px floralwhite;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

input {
    margin: 4px;
}

button {
    margin-top: 14px;
}

.valuesEntrada,
.valuesSaida {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
}

.valuesEntrada h1,
.valuesSaida h1 {
    font-size: 16px;
    margin: 0;
}

.valueEntrada,
.valueSaida {
    font-size: 22px;
}

.cardSaude {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 180px;
}

.valueSaude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
}

h5 {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.hours,
.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 8px;
}

.navOpcoes i {
    font-size: 22px;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 4px;  
}

.navOpcoes i:hover {
    border-bottom: solid 2px black;
}

.navOpcoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
a:visited {
    color: inherit;  
    filter: none;
    opacity: 1;  
    text-decoration: none;
}

.navOpcoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 30%;
    height: 35px;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-circle svg {
    width: 150px;
    height: 150px;
    position: relative;
}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: black;
    stroke-width: 10;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 330;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: rgb(41, 172, 41);
}

circle:nth-child(2) {
    stroke: rgb(186, 27, 27);
    transition: stroke-dashoffset 0.8;
}

.number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTite {
    font-size: 2rem;
}

.coluna {
    background-color: gray;
    min-height: 110px;
    min-width: 40px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 6px 0;
}

.aguaValue,
.exercicioValue,
.leituraValue {
    width: 30px;
    border-radius: 24px;
    height: auto;
}

.aguaValue {
    background-color: blue;
}

.exercicioValue {
    background-color: purple;
}

.leituraValue {
    background-color: orange;
    height: 40px;
}