html, body {
    margin-top: 34px;
    padding: 0;
    height: auto;
}

h4,
h3 {
    margin: 0;
}

/*center geral*/

.introPerfil,
.introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
    "introPerfil introPerfil"
    "menu-motivacao menu-acomp"
    "nav nav";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 400px 60px;
    height: 100%;
    margin: 0 40px;
    gap: 8px;
}

.cardWeather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 150px;
}

.weather,
.degree {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.weather {
    min-width: 50%;
}

.degree {
    min-width: 30%;
}

.card {
    border-radius: 8px;
}

.introPerfil {
    grid-area: introPerfil;
    border-radius: 8px;
    padding: 0 8px;
}

.introPerfil h1{
    margin: 0;
}

.menu-motivacao {
    grid-area: menu-motivacao;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu-acomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: menu-acomp;
    gap: 20px;
    justify-content: center;
}
.nav {
    grid-area: nav;
}

.introPerfil {
    background-color: aliceblue;
}

.introData {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.introData img {
    border-radius: 50%;
    margin-top: -90px;
}

.motivacaoMensagem {
    background-color: aquamarine;
    min-height: 140px;
    width: 90%;
}

.cardFinanca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    min-height: 180px;
    width: 90%;
}

.values {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.values h1 {
    text-align: center;
}

.pagEntrada {
    position: absolute;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    min-height: 540px;
    width: 800px;
    left: 25%;
    border-radius: 8px;
}

.cadastroEntrada {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
}

form button {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}


.cadadastros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: white;
    padding: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 230px;
    border-top-right-radius: 18px;
}

.icon {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 65px;
    left: 0;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 9px 0 5px floralwhite;
}

.cadadastros img {
    border-radius: 50%;
}

.iconInferiordireito 
{
   
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 0;
    left: 245px;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 9px 0 5px floralwhite;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

input {
    margin: 4px;
}

button {
    margin-top: 14px;
}

.valuesEntrada,
.valuesSaida {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
}

.cardSaude {
    background-color: bisque;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 180px;
}

.valueSaude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
}

h5 {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.navOpcoes {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 50px;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-circle svg {
    width: 150px;
    height: 150px;
    position: relative;
}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: black;
    stroke-width: 10;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 330;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: rgb(41, 172, 41);
}

circle:nth-child(2) {
    stroke: rgb(186, 27, 27);
    transition: stroke-dashoffset 0.8;
}

.number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heroTite {
    font-size: 2rem;
    color: white;
}

.coluna {
    background-color: gray;
    min-height: 90px;
    min-width: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 6px;
}

.agua {
    background-color: blue;
    height: 40px;
    width: 30px;
    border-radius: 8px;
}

.sono {
    background-color: purple;
    height: 40px;
    width: 30px;
    border-radius: 8px;
}

.leitura {
    background-color: orange;
    height: 40px;
    width: 30px;
    border-radius: 8px;
}