.introText h1,
.introText h4 {
    display: none;
}


.container {
    display: grid;
    grid-template-areas:
    "introPerfil introPerfil introPerfil"
    "menu-activitys menu-activity menu-activity"
    "nav nav nav";
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 100px 470px 60px;
    height: 100%;
    margin: 0 40px;
    gap: 8px;
}

.introText img {
    position: absolute;
    border-radius: 50%;
    margin-top: -140px;
}

.menu-activitys {
    grid-area: menu-activitys;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-activity {
    grid-area: menu-activity;
}

.menu-activity .water {
    display: none;
    height: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.menu-activity .exercise {
    display: none;
    height: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.menu-activity .reading {
    display: grid;
    height: 100%;
    display: grid;
    grid-template-areas:
    "cardDash cardDash livroSelect"
    "cardDash cardDash livroSelect"
    "listReading listReading listReading";
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 157px 146px 157px;
}

.cardDash {
    grid-area: cardDash;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.livroSelect {
    grid-area: livroSelect;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listReading {
    grid-area: listReading;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 22px;
}

.opcoesActivitys {
    border-radius: 20px;
    padding: 14px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


li:hover {
    background-color: green;
}

li {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-spacing: 0 5px;
}

td {
    text-align: center;
}

tr {
    border-radius: 8px;
}

th,
td {
  border-top: 1px solid #9bafa9;
  border-bottom: 1px solid #9bafa9;
  padding: 8px 10px;
}


.listBook {
    height: 100%;
    padding: 0 4px;
}

.borderTd {
    border-radius: 8px 0 0 8px;
    border-left: 1px solid #9bafa9
}

.box-circle-book {
    height: 110px;
    width: 110px;
}

.box-circle-book circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: gray;
    stroke-width: 10;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
}

#circleReady {
    stroke-dashoffset: 280;
    stroke: rgb(41, 172, 41);
}

#circleReading {
    stroke-dashoffset: 390;
    stroke: blue;
}



.borderTdd {
    border-radius: 0 8px 8px 0;
    width: 15%;
    border-right: 1px solid #9bafa9;
}

.metricReading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box-circle-book svg {
    display: flex;
    height: 150px;
    width: 150px;
    position: relative;
}