.introText h1,
.introText h4 {
    display: none;
}


.container {
    display: grid;
    grid-template-areas:
        "introPerfil"
        "menu-container"
        "nav";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 470px 60px;
    height: 100%;
    margin: 0 40px;
    gap: 8px;
}

.upProfileImg {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 92%;
}

.dadosProfile {
    padding: 85px 8px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

h5 {
    font-weight: normal;
}

.introText img {
    position: absolute;
    border-radius: 50%;
    margin-top: -140px;
}

.profile {
    height: 100%;
    width: 100%;
    display: flex;
}

.profile>div {
    width: 50%;
}

.menu-container {
    grid-area: menu-container;
    display: grid;
    grid-template-areas: "configProfile configSessions";
    grid-template-columns: 4.5fr 5.5fr;
    grid-template-rows: 470px;
    height: 100%;
}

.cardSessions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 280px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
    box-shadow: 
    -10px -10px 15px #d9e9e3, /* superior esquerdo */
    -10px 10px 15px #b4c3be,  /* inferior esquerdo */
    10px -10px 15px #C6D4CF,  /* superior direito */
    10px 10px 15px #9bafa9;   /* inferior direito */
}

.Sessions {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.configProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: configProfile;
    /* apenas para visualizar melhor */
}

.configSessions {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: configSessions;
    /* apenas para visualizar melhor */
}

.imgProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.imgProfile img {
    border-radius: 8px;
}


.imgCardAgua {
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    height: 50px;
    width: 30%;
}

.textCard {
    width: 70%;
}

h3,
p {
    margin: 0;
}

.engreCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    height: 30px;
    width: 30px;
    font-size: 24px;
    color: rgb(6, 95, 6);
}

.engreCard i {
    cursor: pointer;
}

.trasAgua {
    position: absolute;
}

.buttonProfile {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    border: solid 1px #9eaca7;
    margin: 0;
}

.upFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 50px;
    width: 40%;
    border-style: dashed;
    border-width: 2px;
    border-color: #9eaca7
}

.upDoc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 50px;
    width: 70%;
    gap: 8px;
    border-style: dashed;
    border-width: 2px;
    border-color: #9eaca7
}