.introText h1,
.introText h4 {
    display: none;
}


.container {
    display: grid;
    grid-template-areas:
        "introPerfil"
        "menu-container"
        "nav";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 470px 60px;
    height: 100%;
    margin: 0 40px;
    gap: 8px;
}

.menu-container {
    display: grid;
    height: 100%;
    grid-template-areas:
        "opcoesFinanceiro graficoFin graficoFinAnual"
        "opcoesFinanceiro listConta listContaFix";
    grid-template-columns: 0.3fr 1.4fr 0.6fr;
    grid-template-rows: 0.6fr 1fr;
}

.opFin {
    border-radius: 20px;
    height: 263px;
    width: 92px;
    display: flex;
    padding: 0 14px;
    align-items: center;
    box-shadow: -10px -10px 15px #d9e9e3, -10px 10px 15px #b4c3be, 10px -10px 15px #C6D4CF, 10px 10px 15px #9bafa9;
}

.introText img {
    position: absolute;
    border-radius: 50%;
    margin-top: -140px;
}

li:hover {
    background-color: green;
}

li {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 22px;
}

.opcoesFinanceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: opcoesFinanceiro;
}

.graficoFin {
    grid-area: graficoFin;
    background-color: aqua;
    display: flex;
    justify-content: center;
    gap: 44px;
    align-items: center;
}

.graficoFinAnual {
    grid-area: graficoFinAnual;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valueAnual {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.valueAnual h5 {
    margin: 0;
}

.valorAtual {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    height: 107px;
}

.entrada h2 {
    font-size: 32px;
    margin: 0;
    font-weight: normal;
    height: 54px;
}

.entrada h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.saldo {
    border-right: solid 0.5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18px;
}

.entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gasto {
    background-color: white;
    height: 150px;
    width: 190px;
}

.listConta {
    display: flex;
    align-items: center;
    grid-area: listConta;
    background-color: purple;
    padding: 0 50px;
    justify-content: space-between;
}

.valorConta {
    position: absolute;
    top: 90px;
    height: 100%;
    width: 100%;
}

.imgConta {
    position: absolute;
    top: -18px;
    height:40%;
    background-color: #9bafa9;
    width: 75%;
    border-radius: 8px;
}

.listContaFix {
    grid-area: listContaFix;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.colMonth {
    background-color: burlywood;
    height: 60%;
    border-radius: 40px;
    width: 40%;
}

.cardConta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 230px;
    height: 240px;
    border-radius: 8px;
}

.saldoConta h2{
   font-size: 14px;
   margin: 0;
   font-weight: normal;
}

.saldoConta, .extratoConta {
    padding: 0 14px;
}

.extratoEntrada, .extratoSaida {
    width: 45%;
}


.barEntrada,.barSaida {
    background-color: #9bafa9;
    width: 100%;
    height: 4px;
}

.saldoConta h1{
   font-size: 36px;
   margin: 0;
}

.extratoEntrada h1,
.extratoSaida h1{
      font-size: 20px;
      margin: 0;
}

.extratoEntrada h2,
.extratoSaida h2{
      font-size: 14px;
      margin: 0;
      font-weight: normal;
}

.extratoConta {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.saldo h1{
    font-size: 60px;
    margin: 0;
}


.saldo span {
    font-weight: normal;
}


.entradaSaida {
    display: flex;
    background-color: white;
    width: 150px;
    padding: 8px;
    border-radius: 12px;
}

.box-circle-fin {
    width: 150px;
    height: 150px;
}

.box-circle-fin svg {
    width: 150px;
    height: 150px;
    position: relative;
}

.boxFin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberFin {
    position: absolute;
}


.cardListfix {
    display: flex;
    background-color: #9bafa9;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
}

.listFix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.imgFix {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.valueFix {
    width: 30%;
}

.dadosFix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 8px;
    text-align: center;
}

.dadosFix h1 {
    font-size: 18px; margin: 0;
}

.dadosFix h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}



